<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVICIO JORDY</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://kit.fontawesome.com/e828ceb8af.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script>
        const ROOM_ID="<%= roomId %>"                             //Toma el roomId, desde el servidor hacia este html
        console.log("Usted a entrado a la sala:"+"<%= roomId %>") //Toma el roomId, desde el servidor hacia este html
    </script>
</head>
<body>
   

    <div class="Principal botonMostrar botonOcultar">
        <div class="Izquierda">
            <div class="ParteVideos">
                <div id="video-grid">
                <input type="text" value="..." id="enlace" readonly>
                </div>
            </div>
            <div class="Controles">
                <div class="SeccionDeControles">
                    <div onclick="MuteoDesmuteo()" class="BotonesDeControl botonMuteo">
                        <i class="fas fa-microphone-alt"></i>
                        <span>Voz</span>
                    </div>
                    <div onclick="CambiosVideo()" class="BotonesDeControl botonVideo">
                        <i class="fas fa-camera"></i>
                        <span>Apagar Camara</span>
                    </div>
                </div>

                <div class="SeccionDeControles">
                    
                    <div onclick="InvitarAmigos()" class="BotonesDeControl">
                        <i class="fas fa-users-cog"></i>
                        <span>Invitar Amigos</span>
                    </div>
                    <div onclick="SharePantalla()" class="BotonesDeControl">
                        <i class="fas fa-photo-video"></i>
                        <span>Compartir Pantalla</span>
                    </div>
                    <div onclick="LevantarMano()" class="BotonesDeControl">
	        			<i class="far fa-hand-paper"></i>
	        			<span>LevantarMano</span>
	        		</div>
                    <div onclick="Informacion()" class="BotonesDeControl">
                        <i class="fas fa-info-circle"></i>
                        <span>Informacion</span>
                    </div>
                </div>

                <div class="SeccionDeControles">
                    <div onclick="Salir()" class="BotonesDeControl">
                        <i class="fas fa-door-open"></i>
                        <span class="DejarReunion">Abandonar Conferencia</span>
                    </div>
                </div>


            </div>
        </div>

        <div class="Derecha">
            <div class="CabeceraDerecha">
                <h6><span class="live"></span> Ventana de chat</h6>
            </div>
            <div class="VentanaChat">
                <ul class="Mensajes"></ul>
            </div>
            <div class="ContenedorDeMensajes">
                <input type="text" id="NombreUsuario" placeholder="Nombre" />
                <input type="text" id ="MensajeDeChat" placeholder="Presione enter para enviar">
                <button onclick="BotonEnvioSMS()" class="BotonEnvioSMS" id="BotonEnvioSMS">
                    <i class="far fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>